body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.main-content{
    display: flex;
}

.header{
    background-color: #333;
    text-align: center;
    padding: 5px;
    color: wheat;
}
.footer{
    background-color: #333;
    padding: 5px;
    text-align: center;
    color: aliceblue;
}
.sidebar{
    flex: 1;
    background: #a3a2a2;
}
.main{
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    background: #ccc;
}
.card{
    background:#fff;
    margin: 10px;
    width: 30%;
    height: 180px;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* box-shadow: 0 0 5px gray; */
}
p{
    margin-left: 20px;
    margin-top: 20px;
}
.sidebar h2{
    margin-left: 20px;
}